// Vendor
@import 'vendor/_normalize.scss';

// Modules
@import 'modules/_defaults.scss';
@import 'modules/_vars.scss';
@import 'modules/_typo.scss';


// Partials
@import 'partials/_nav.scss';
@import 'partials/_container.scss';
@import 'partials/_content-text.scss';
@import 'partials/_gallery.scss';
@import 'partials/_contactform.scss';
@import 'partials/_footer.scss';