.contactform {
    padding: 0 10em;
    &__field {
        display: block;
        height: 4em;
        width: 100%;
        font-size: 14px;
        background:$light-grey;
        border: none;
        padding: 0 1em;
        margin: 2em 0;
        &--long {
            height: 16em;
        }
        &:focus {
            outline: none;
        }
    }
}

.button__container {
    display: flex;
    justify-content: flex-end;
    .button--grey {
        width: 17em;
        height: 4em;
        background: $dark-grey;
        border: none;
        outline: none;
    }
}