.contactform {
    padding: 0 10em;
    &__field {
        display: block;
        height: 4em;
        width: 100%;
        font-size: 14px;
        background:$light-grey;
        border: none;
        padding: 0 1em;
        margin: 2em 0;
        &--long {
            height: 16em;
        }
        &:focus {
            outline: none;
        }
    }
}

@media only screen 
  and (max-width: 320px)  
  and (-webkit-min-device-pixel-ratio: 2) { 
      .contactform {
          padding: 0;
      }
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 608px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      .contactform {
          padding: 0;
      }
}

@media only screen 
  and (min-width: 608px) 
  and (max-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      .contactform {
          padding: 0;
      }
}

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      .contactform {
          padding: 0 4em;
      }
}