.content-text {
    display: flex;
    margin: 0 0 5em;
    &__half {
        width: 50%;
    }
    .weird-text {
        line-height: 3.2em;
        word-spacing: 4em;
        text-align: center;
        padding: 5em;
    }
}