.footer {
    height: 5em;
    background: $dark-grey;
}

@media only screen 
  and (max-width: 320px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      .footer {
          height: 15em;
      }
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 608px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      .footer {
          height: 15em;
      }
}