.gallery {
    background: $light-grey;
    color: $white;
    padding: 1em 2em 20em;
    margin: 0 0 8em;
    &__list {
        display: flex;
        position: absolute;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: calc(100vw - 20em);
    }
    &__item {
        position: relative;
        width: 33.33%;
        height: 15em;
        font-size: 1.5em;
        background: $dark-grey;
        margin: 1em;
        &:nth-child(2) {
            height: 16em;
        }
        &-text, &-text--long {
            position: absolute;
            bottom: 2em;
            left: 2em;
            &--long {
                bottom: 3em;
            }
        }
    }
}

@media only screen 
  and (max-width: 320px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      .gallery {
          padding: 1em 2em 2em;
          &__list {
            display: block;
            position: inherit;
            width: calc(100vw - 8em);
          }
          &__item {
              width: auto;
          }
      }
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 608px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      .gallery {
          padding: 1em 2em 2em;
          &__list {
            display: block;
            position: inherit;
            width: calc(100vw - 8em);
          }
          &__item {
              width: auto;
          }
      }
}

@media only screen 
  and (min-width: 608px) 
  and (max-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .gallery {
        padding: 1em 2em 2em;
        &__list {
          display: block;
          position: inherit;
          width: calc(100vw - 16em);
        }
        &__item {
            width: auto;
        }
    }
}

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      .gallery__list {
          width: calc(100vw - 12em);
      }
      .gallery__item {
          margin: .5em;
      }
}