html {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
    color: $black;
}

.header {
    font-size: 3em;
    text-align: center;
    color: $light-grey;
    margin: 5em auto 1em;
}
.sub-header {
    font-size: 1.5em;
    line-height: 3em;
    text-align: center;
    color: $black;
    margin: 1em 0;
    &--light {
        font-weight: normal;
        color: $light-grey;
        margin: 0;
    }
    &--white {
        color: $white;
    }
}

.weird-text {
    line-height: 3.2em;
    word-spacing: 4em;
    text-align: center;
    padding: 5em;
}

.gallery__item {
    font-size: 1.5em;
}

.contactform {
    font-size: 14px;
}